@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    background-color: black;

}

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span{
    color: rgb(211,3,3);
    text-shadow: 0 0 10px rgb(211,3,3) ;
}

.hamburg,
.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links {
    display: flex;
}

.nav-container .links a{
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a:hover{
    color: rgb(211,3,3);
    border-bottom: 2px solid rgb(211,3,3);
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0  20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background-color: rgb(211,3,3);
}

section{
    width: 100%;
    height: 150vh;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
}

.content h1{
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span{
    font-weight: 700;
    text-shadow: 0 0 10px rgb(211,3,3);
    color: rgb(211,3,3);
}

.content .typewriter{
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 700;
}

.typewriter span{
    color: rgb(211,3,3);
    text-shadow:  0 0 10px rgb(211,3,3);
}

.content p{
    font-size: clamp(0,4rem, 0.2rem + 9vw, 1rem);
    margin : 10px 0;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid rgb(211,3,3);
    border-radius: 50%;
    color: rgb(211,3,3);
    margin: 0 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover{
    scale: 1.3;
    filter: drop-shadow(0 0 10px rgb(211,3,3));
    color: black;
    background-color: rgb(211,3,3);
}

.content button{
    width: 50%;
    height: 6vh;
    margin: 30px;
    background-color: rgb(211,3,3);
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content button:hover{
    scale: 1.1;
    color: rgb(211,3,3);
    border: 2px solid rgb(211,3,3);
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px 5px rgb(211,3,3);
}

.main-container .image{
    width: 500px;
    height: 80vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px rgb(211,3,3);
}

.main-container .image img{
    width: 100%;
}

.main-container .image:hover{
    animation: animate 1.5s ease-in-out infinite;

}

.main-container .text-box{
    color: white ;
}

@keyframes animate {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}


@media (max-width:884px) {
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container{
        display: flex;
        flex-direction: column-reverse;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg,
    .cancel{
        display: block;
    }

    .main-container .content{
        width: 80%;
    }
    .social-links i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .main-container .image{
        z-index: -1;
        width: 50%;
        height: 60%;
    }
}


@media (max-width:440px) {
    .main-container .image{
        width: 70%;
        height: 60%;
    }

    .main-container .content{
        width: 80%;
    }

    .main-container button{
        margin-top: 15px;
    }
}


  

/* Services Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
#services .service-item {
	flex-basis: 80%;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	border-radius: 15px;
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 5px 5%;
	position: relative;
	z-index: 1;

}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 250px;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
    border-radius: 15px; 
}
#services .service-bottom .icon {
	height: 80px;
	width: 90px;
	margin-bottom: 10px;
}
#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: left;
}



/*footer */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}

/*skillss*/
.main-text{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--hover-color);

    
}

.main-text  span{
color: #fdfdfd;
font-size: 2rem;
font-weight: 200;
letter-spacing: 2px;
text-transform: uppercase;


}





.main-text h2{
    color: white;
    font-size: var(--normal-font);

}

.skills{
    background:var(--secon-color);

    
}


.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}


.skill-bar{
    margin-bottom: 2.3rem;
}


.skill-main h3{
    margin-bottom: 2rem;
    font-size: var(--normal-font);
    text-align: center ;
}


.skill-left .skill-bar .info{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}


.skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color: #fdfdfd;
    border-radius: 25px;
    margin-top: 10px;

}

.skill-bar.bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    color: rgb(202, 138, 18);/*aded*/
    background: var(--hover-color);
    border-radius: 25px;
    box-shadow: var(--neon-box-shadow);
    

}

.skill-bar .bar .html{
      display: block;
    height: 100%; 
    width: 90%; 
    background-color: #4caf50; 
    border-radius: 5px;
    animation: html 2s;
}





/*main codes*/



p{
    color: white;
}












/*animation for skills*/
@keyframes html {
    0% { 
        width: 0%
     }
     100%{
        width: 90%;
     }
}


@keyframes css {
    0% { 
        width: 0%
     }
     100%{
        width: 45%;
     }
}

@keyframes python {
    0% { 
        width: 0%
     }
     100%{
        width: 70%;
     }
}



@keyframes php{
    0% { 
        width: 0%
     }
     100%{
        width: 25%;
     }
}




@keyframes c {
    0% { 
        width: 0%
     }
     100%{
        width: 72%;
     }
}


/*skill*/





.skills-container {
    text-align: center;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.skills-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.skills-title span {
    color: #00c7d3;
}

.skills-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.skills-column {
    width: 45%;
}

.section-title {
    font-weight: bold;
    margin-bottom: 15px;
    text-decoration: underline;
    color: white;
    text-align: center;
}

.technical-skill, .professional-skill {
    margin: 30px 0;
    color: white;
    margin-left: auto;
    text-align: center;
    
}

.skill-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    color: whitesmoke;

}

.progress-bar {
    background-color: #2f3b4a;
    border-radius: 10px;
    overflow: hidden;
    height: 9px;
    position: relative;
    box-shadow: 0 0 10px rgba(6, 198, 231, 0.7);
    width: 50vh;
}

.progress {
    background-color: #00c7d3;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.circle1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
   --percentage : 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-size: 1em;
    position: relative;
  
    background: conic-gradient(
        #4caf50 var(--percentage), 
        #e0e0e0 var(--percentage)
    );
    box-shadow: 0 0 20px rgba(76, 175, 80, 0.7), 0 0 40px rgba(76, 175, 80, 0.5);
    transition: box-shadow 0.3s ease-in-out;


   
    
}

.circle2 {
    width: 60px;
    height: 65px;
    border-radius: 50%;
   --percentage : 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-size: 1em;
    position: relative;
  
    background: conic-gradient(
        #4caf50 var(--percentage), 
        #e0e0e0 var(--percentage)
    );
    box-shadow: 0 0 20px rgba(76, 175, 80, 0.7), 0 0 40px rgba(76, 175, 80, 0.5);
    transition: box-shadow 0.3s ease-in-out;


   
    
}

.circle3 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
   --percentage : 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-size: 1em;
    position: relative;
  
    background: conic-gradient(
        #4caf50 var(--percentage), 
        #e0e0e0 var(--percentage)
    );
    box-shadow: 0 0 20px rgba(76, 175, 80, 0.7), 0 0 40px rgba(76, 175, 80, 0.5);
    transition: box-shadow 0.3s ease-in-out;


   
    
}

.circle4 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
   --percentage : 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-size: 1em;
    position: relative;
  
    background: conic-gradient(
        #4caf50 var(--percentage), 
        #e0e0e0 var(--percentage)
    );
    box-shadow: 0 0 20px rgba(76, 175, 80, 0.7), 0 0 40px rgba(76, 175, 80, 0.5);
    transition: box-shadow 0.3s ease-in-out;


   
    
}



.circle .progress-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip: rect(0px, 60px, 60px, 30px);
}



.html .progress {
    width: 50%; 
    background-color: #4caf50; 
    height: 20px; 
    border-radius: 10px; 
    animation: html 2s ease-in-out forwards; 
    box-shadow: 0 0 10px rgba(47, 59, 74, 0.7); 
}

.css .progress {
    width: 40%;
    background-color: #2196F3;
    height: 20px;
    border-radius: 10px;
    animation: css 2s ease-in-out forwards;
    box-shadow: 0 0 10px rgba(47, 59, 74, 0.7);
}

.js .progress {
    width: 60%;
    background-color: #ff9800; 
    height: 20px;
    border-radius: 10px;
    animation: js 2s ease-in-out forwards;
    box-shadow: 0 0 10px rgba(47, 59, 74, 0.7);
}

.python .progress {
    width: 45%;
    background-color: #f44336;
    height: 20px;
    border-radius: 10px;
    animation: python 2s ease-in-out forwards;
    box-shadow: 0 0 10px rgba(47, 59, 74, 0.7);
}



.creativity .right-half { transform: rotate(160deg); }
.communication .right-half { transform: rotate(117deg); }
.problem-solving .right-half { transform: rotate(135deg); }
.teamwork .right-half { transform: rotate(153deg); }




@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 60%; 
    }
}

@keyframes css {
    0% {
        width: 0%; 
    }
    100% {
        width: 30%;
    }
}

@keyframes js{
    0% {
        width: 0%; 
    }
    100% {
        width: 50%; 
    }
}
@keyframes python {
    0% {
        width: 0%; 
    }
    100% {
        width: 45%; 
    }
}


/*contact*/
}
.container{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 8%;
}
.container .row{
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1100px;
}
.row section.col{
	display: flex;
	flex-direction: column;
}
.row section.left{
	flex-basis: 35%;
	min-width: 320px;
	margin-right: 60px;
}
.row section.right{
	flex-basis: 60%;
}
section.left .contactTitle h2{
	position: relative;
	font-size: 28px;
	color: #ddd;
	display: inline-block;
	margin-bottom: 25px;
}
section.left .contactTitle h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	background-color: #888;
	top: 120%;
	left: 0;
}
section.left .contactTitle h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	background-color: dodgerblue;
	top: calc(120% - 1px);
	left: 0;
}
section.left .contactTitle p{
	font-size: 17px;
	color: #ccc;
	letter-spacing: 1px;
	line-height: 1.2;
	padding-bottom: 22px;
}
section.left .contactInfo{
	margin-bottom: 16px;
}
.contactInfo .iconGroup{
	display: flex;
	align-items: center;
	margin: 25px 0px;
}
.iconGroup .icon{
	width: 45px;
	height: 45px;
	border: 2px solid dodgerblue;
	border-radius: 50%;
	margin-right: 20px;
	position: relative;
}
.iconGroup .icon i{
	font-size: 20px;
	color: #ddd;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.iconGroup .details span{
	display: block;
	color: #888;
	font-size: 18px;
}
.iconGroup .details span:nth-child(1){
	text-transform: uppercase;
	color: #ccc;
}
section.left .socialMedia{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 22px 0px 20px;
}
.socialMedia a{
	width: 35px;
	height: 35px;
	text-decoration: none;
	text-align: center;
	margin-right: 15px;
	border-radius: 5px;
	background-color: dodgerblue;
	transition: 0.4s;
}
.socialMedia a i{
	color: #ddd;
	font-size: 18px;
	line-height: 35px;
	border: 1px solid transparent;
	transition-delay: 0.4s;
}
.socialMedia a:hover{
	transform: translateY(-5px);
	background-color: #2e2e2e;
	color: dodgerblue;
	border: 1px solid dodgerblue;
}
.socialMedia a:hover i{
	color: dodgerblue;
}

/* Code for the right section (column) */

.row section.right .messageForm{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
}
.row section.right .inputGroup{
	margin: 18px 0px;
	position: relative;
}
.messageForm .halfWidth{
	flex-basis: 48%;
}
.messageForm .fullWidth{
	flex-basis: 100%;
}
.messageForm input, .messageForm textarea{
	width: 100%;
	font-size: 18px;
	padding: 2px 0px;
	background-color: #2e2e2e;
	color: #ddd;
	border: none;
	border-bottom: 2px solid #666;
	outline: none;
}
.messageForm textarea{
	resize: none;
	height: 220px;
	display: block;
}
textarea::-webkit-scrollbar{
	width: 5px;
}
textarea::-webkit-scrollbar-track{
	background-color: #1e1e1e;
	border-radius: 15px;
}
textarea::-webkit-scrollbar-thumb{
	background-color: dodgerblue;
	border-radius: 15px;
}
.inputGroup label{
	position: absolute;
	left: 0;
	bottom: 4px;
	color: #888;
	font-size: 18px;
	transition: 0.4s;
	pointer-events: none;
}
.inputGroup:nth-child(4) label{
	top: 2px;
}
.inputGroup input:focus ~ label, .inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label, .inputGroup textarea:valid ~ label
{
	transform: translateY(-30px);
	font-size: 16px;
}
.inputGroup button{
	padding: 8px 16px;
	font-size: 18px;
	background-color: dodgerblue;
	color: #ddd;
	border: 1px solid transparent;
	border-radius: 25px;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
}
.inputGroup button:hover{
	background-color: #2e2e2e;
	color: dodgerblue;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid dodgerblue;
}
@media(max-width: 1100px){
	.messageForm .halfWidth{
		flex-basis: 100%;
	}
}
@media(max-width: 900px){
	.container .row{
		flex-wrap: wrap;
	}
	.row section.left, .row section.right{
		flex-basis: 100%;
		margin: 0px;
	}
}



